<<<<<<< HEAD
@import "../../styles/var.scss";
=======
>>>>>>> b358d4c575f8c0999351805211ee8ef8d874ad5d
.modalOverlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0C0C0C;
}
.modal{
  position: relative;
  width: 668px;
  height: 489px;
  border: 5px solid #C8B300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  &Signal{
    width: 160px;
    height: 160px;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: $accent-color;
=======
    background-color: #F0D600;
>>>>>>> b358d4c575f8c0999351805211ee8ef8d874ad5d
  }
  &Message{
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    &Caption{
      font-size: 20px;
    }
  }

}
.red{
  background-color: red !important;
<<<<<<< HEAD
}
=======
}
>>>>>>> b358d4c575f8c0999351805211ee8ef8d874ad5d
