$main-color: #0C0C0C;
$accent-color: #FFE743;
$text-color: #FAF8F4;

$radius: 8px;
$big-radius: 30px;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font: 'Press Start 2P', sans-serif;
  