$black-color: #0C0C0C;
$accent-color: #e3cb26;
$hover-color: #efff43;
$third-color: #baff43;
$white-color: #FAF8F4;
$grey-color: #232323;
$error-color: #ff4d4f;

$radius: 8px;
$big-radius: 30px;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font: 'Press Start 2P', sans-serif;
  