.modalOverlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black-color;
}

.modalHidden body {
  overflow: hidden;
}

.modal {
  position: relative;
  color: $white-color;
  z-index: 1000;
  padding: 52px 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
  border-radius: $big-radius;
  background: linear-gradient(130deg,rgba(217, 217, 217, 0) 0%, rgba(209, 183, 0, 0.51) 100%) ;
  border: 1px solid $accent-color;

  .message{
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 100%;
    font-family: 'Press Start 2P', monospace;
    color: $white-color;
    margin: 0 0 32px;
    letter-spacing: 2px;
  }
  .inputAreaItself {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  .closeButton {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 30px;
    height: 30px;

    &:hover {
      transform: scale(1.2);
    }
  }

  .container,
  .mainInputArea,
  .inputArea,
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .errorInput {
    border: 1px solid $error-color !important;
  }

  .errorMessage {
    color: $error-color;
    font-size: 12px;
    margin: 0 0 13px;
  }
}

.input {
  background: $white-color;
  height: 43px;
  padding: 19px;
  border-radius: $radius;
  border: 1px solid #ccc;
  font-weight: 300;
  font-size: 14px;
  transition: 300ms ease-out;
  box-sizing: border-box;

  &::placeholder {
    color: $black-color;
  }

  &:focus {
    border: 2px solid $accent-color;
    outline: none;
  }
}

.errorInput {
  border: 1px solid $error-color;

  &::placeholder {
    color: $error-color;
  }
}


.button {
  background: $accent-color;
  color: $black-color;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.2rem;
  border: none;
  border-radius: $radius;
  padding: 12px 38px;
  cursor: pointer;
  box-shadow: 0 2px 8px #00000055;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 10px;

  &:hover{
    background-color: $hover-color;
    cursor: pointer;
  }
}