

.list {
    display: flex;
    gap: 100px;
    font-size: 20px;
    .active {
        height:#0C0C0C;
        background-color: #f3d409;
        border: 1 px solid #f3d409;
        color: #f3d409;
    }
}