

.wrapper{
    background-color: $black-color;
    min-height: 100vh;
    .leaderboardTextBlock{
    width: 1200px;
    margin: 20px auto 50px;
    h4{
      font-weight: 500;
      font-size: 50px;
      text-align: center;
    }
    p{
        text-align: center;
      font-weight: 400;
      font-size: 32px;
    }
  }
    .container{
        width: 1200px;
        margin: 0 auto;
        padding: 50px 0;
        
        .text{
            width: 500px;
            margin: 10px auto;
            text-align: center;
            .title{
                font-size: 60px;
                font-family: 'Press Start 2P', sans-serif;
                color: $accent-color;
                padding: 10px;
                background-color: $black-color;
                margin: 0;
            }
            .p{
                font-size: 20px;
                font-family: 'Press Start 2P', sans-serif;
                color: $error-color;
            }
        }
        table{
            width: 600px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            color: $black-color;
            border-spacing: 0 20px;
            border-collapse: separate; 
            
            thead{
                div{
                    padding: 10px;
                    background-color: $black-color;
                    width: 580px;
                }
                tr{
                    width: 580px;
                    color: $accent-color;
                    font-size: 20px;
                    font-family: 'Press Start 2P', sans-serif;
                }
            }
            tbody{
                tr{
                    font-size: 18px;
                    font-family: sans-serif;
                    color: $white-color;
                    margin: 40px 0;
                    transition: all 0.3s ease;
                    &:nth-child(even){
                        background-color: #2d2c2d;
                    }
                    &:nth-child(odd){
                        background-color: #222122;
                    }
                    &:hover{
                        background-color: $third-color;
                        color: #222122;
                        scale: 1.05;
                    }

                }
                div{
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    transition: all 0.3s ease;
                }
                .highlightedRow{
                    background-color: $accent-color !important;
                    color: #222122;
                    scale: 1.1;
                }
                
            }
        }
    }

}
